### List Comprehension

In [1]:
nlist = []
for i in range(1,101):
    nlist.append(i)
print(nlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [2]:
i = 1
newList = []
while i != 101:
    newList.append(i)
    i += 1
print(newList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [3]:
# Printing all numbers from 1 to 1001 : Simple For loop
L = [ i for i in range(1,101) ]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [4]:
# Printing even number from 1 to 200 : For loop with if clause
L = [ i for i in range(1,200) if i % 2 == 0]
print(L)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]

In [5]:
# Printing even number from 1 to 200 : For loop with if clause and else clause
L = [ i  if i%2 == 0  else i*2 for i in range(1,101)]
print(L)

[2, 2, 6, 4, 10, 6, 14, 8, 18, 10, 22, 12, 26, 14, 30, 16, 34, 18, 38, 20, 42, 22, 46, 24, 50, 26, 54, 28, 58, 30, 62, 32, 66, 34, 70, 36, 74, 38, 78, 40, 82, 42, 86, 44, 90, 46, 94, 48, 98, 50, 102, 52, 106, 54, 110, 56, 114, 58, 118, 60, 122, 62, 126, 64, 130, 66, 134, 68, 138, 70, 142, 72, 146, 74, 150, 76, 154, 78, 158, 80, 162, 82, 166, 84, 170, 86, 174, 88, 178, 90, 182, 92, 186, 94, 190, 96, 194, 98, 198, 100]

In [6]:
# Generating a tuple even number from 1 to 200 # two for loop
values = [(x,y) for x in range(5) for y in range(3)  if x%2 != 0 and y%2 != 1 ]
print(values)

[(1, 0), (1, 2), (3, 0), (3, 2)]

In [7]:
# Nested List Comprehension
values = [[y*3 for y in range(x)] for x in range(10)]
print(values)

[[], [0], [0, 3], [0, 3, 6], [0, 3, 6, 9], [0, 3, 6, 9, 12], [0, 3, 6, 9, 12, 15], [0, 3, 6, 9, 12, 15, 18], [0, 3, 6, 9, 12, 15, 18, 21], [0, 3, 6, 9, 12, 15, 18, 21, 24]]

### Extended Keywords : *args, **kwargs

In [8]:
def f1(*args, **kwargs):
    
    # tuple entry for all the arguments in the functions
    for arg in args:
        print(arg)
    
    # dictionary entry for all the key=value pairs in the arguments key should be string (limitation)
    for key,value in kwargs.items():
        print(key,value)

In [9]:
f1(1,4,7,2,45,45,45,4,54,54,545,ABC=45,TWS=23,WEWE=45)

1
4
7
2
45
45
45
4
54
54
545
ABC 45
TWS 23
WEWE 45

### Map
    - Map function apply iteratable object on to the function in which it is passed and return map reference object.
    - two arguments : Function Name, Tuple of Iteratable
    - map(function,iteratable)
    - iteratable object are in pythons : List(order), Tuple(order), String(order), sets (unorderd)

In [10]:
def compute(n): 
    return 4*n + 20

In [11]:
l = [1,2,3,4,5,6,7,8]
result = map(compute,l)

    
# First way access Map object
print(list(result))

# second methods to access Map object values
#for value in result:
#    print("s",value)

[24, 28, 32, 36, 40, 44, 48, 52]

In [12]:
# Double all numbers using map and lambda   
numbers = (1, 2, 3, 4) 
result = map(lambda x: x + x, numbers) 
print(list(result))

[2, 4, 6, 8]

In [13]:
# Add two lists using map and lambda 
  
numbers1 = [1, 2, 3] 
numbers2 = [4, 5, 6] 
  
result = map(lambda x, y: x + y, numbers1, numbers2) 
print(list(result))

[5, 7, 9]

In [14]:
# List of strings 
l = ['sat', 'bat', 'cat', 'mat'] 
  
# map() can listify the list of strings individually 
test = list(map(list, l)) 
print(test)

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

In [15]:
list('sat')

['s', 'a', 't']

In [16]:
#help(map)

### Filter function

In [17]:
#help(filter)
Filter function take two arguments :
    - Function : This function should be boolean function (should return True or False).
    - Iteratable :

SyntaxError: invalid syntax (2884163082.py, line 2)

In [ ]:
# function that filters vowels
def fun(variable):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (variable in letters):
        return True
    else:
        return False
 
 
# sequence
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']
 
# using filter function
filtered = filter(fun, sequence)
print(list(filtered))

In [ ]:
# a list contains both even and odd numbers. 
seq = [0, 1, 2, 3, 5, 8, 13]
 
# result contains odd numbers of the list
result = filter(lambda x: x % 2 != 0, seq)
print(list(result))
 
# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, seq)
print(list(result))

In [ ]:
# Define a function to check 
# if a number is a multiple of 3
def is_multiple_of_3(num):
    return num % 3 == 0
 
 
# Create a list of numbers to filter
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
 
# Use filter and a lambda function to
# filter the list of numbers and only
# keep the ones that are multiples of 3
result = list(filter(lambda x: is_multiple_of_3(x), numbers))
 
# Print the result
print(result)

In [ ]:
# Define a function to check 
# if a number is a multiple of 3
def is_multiple_of_3(num):
    return num % 3 == 0
 
 
# Create a list of numbers to filter
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
 
# Use filter and a lambda function to
# filter the list of numbers and only
# keep the ones that are multiples of 3
result = list(filter(is_multiple_of_3, numbers))
 
# Print the result
print(result)

### Reduce function

In [ ]:
# importing functools for reduce() 
from functools  import reduce
help(reduce)

In [ ]:
# initializing list 
lis = [1, 3, 5, 6, 2] 
  
# using reduce to compute sum of list 
print("The sum of the list elements is : ", end="") 
print(reduce(lambda a, b: a+b, lis)) 
  
# using reduce to compute maximum element from list 
print("The maximum element of the list is : ", end="") 
print(functools.reduce(lambda a, b: a if a > b else b, lis))

In [ ]:
#import operator
#help(operator)

In [ ]:
# python code to demonstrate summation 
# using reduce() and accumulate() 
  
# importing itertools for accumulate() 
import itertools 
  
# importing functools for reduce() 
import functools 
  
# initializing list 
lis = [1, 3, 4, 10, 4] 
  
# printing summation using accumulate() 
print("The summation of list using accumulate is :", end="") 
print(list(itertools.accumulate(lis, lambda x, y: x+y))) 
  
# printing summation using reduce() 
print("The summation of list using reduce is :", end="") 
print(functools.reduce(lambda x, y: x+y, lis))

### Closure and Decorators

In [ ]:
# Local Function
def func():  
    # helper local function
    def multiplyby10(v): 
        return v * 10
    x = 1  
    y = 2  
    return multiplyby10(x+y)

In [ ]:
# Write a function which can return a function
def outer():  
    def inner():  
        print('inner')  
    return inner

In [ ]:
# assinging the function into a variable fun1
fun1 = outer()

#calling the function
fun1()

In [ ]:
# Clousure : keeps the reference of outer function variable and using it
def outer_function(x):  
    def inner_function(y):  
        return x+y  
    return inner_function

In [ ]:
add_plus= outer_function(30)  
add_plus(20)

### Decorators

### Generators

In [ ]:
def f1(iteratable1):
    print(iteratable1)

In [ ]:
l = [1,2,3,4,5,6]
f1(l)

In [ ]:
# Generator : Iterate the object and return one element at a time
def f2(iteratable2):
    for element in iteratable2:
        yield element

In [ ]:
value = f2(l)

In [ ]:
next(value)

In [ ]:
# Example of Generator
def countdown(n):
    while n > 0:
        yield n
        n -= 1

for number in countdown(5):
    print(number)

In [ ]:
from collections import defaultdict  
     
     
# Defining the dict  
d = defaultdict(int)  
     
L = [1, 2, 3, 4, 2, 4, 1, 2]  
     
# Iterate through the list  
# for keeping the count  
for i in L:  
         
    # The default value is 0  
    # so there is no need to   
    # enter the key first  
    d[i] += 1
         
print(d)

In [ ]:
a = 34
b = 54
a + b

In [ ]:
a = "ASDSA"
b = "ASDASD"
a + b

In [28]:
# Example for Operator Overloading
class Complex:
    def __init__(self,real,imagenary):
        self.real = real
        self.imagenary = imagenary      

    # We can write only one functionality with + operator (C3 = C1 + C2 ) or C1 + C2
    def __add__(self, obj2):
        x = self.real + obj2.real
        y = self.imagenary + obj2.imagenary
        return Complex(x,y)

    def __mul__(self,obj2):
        #Compute Real * real
        x = self.real * obj2.real - self.imagenary * obj2.imagenary
        y = self.real * obj2.imagenary + self.imagenary * obj2.real
        return Complex(x,y)
        
    def print(self):
        print(f'Complex : {self.real} + i * {self.imagenary}')

In [29]:
c1 = Complex(5,4)
c2 = Complex(6,10)

In [31]:
print("Before Addition")
c1.print()
c2.print()
c3 = c1 + c2
c4 = c1 * c2
print("After Addition")
c1.print()
c2.print()
print("Result")
c3.print()
c4.print()

Before Addition
Complex : 5 + i * 4
Complex : 6 + i * 10
After Addition
Complex : 5 + i * 4
Complex : 6 + i * 10
Result
Complex : 11 + i * 14
Complex : -10 + i * 74