### **Data Structures** :
    - List => [] 
    - Tuple => ()   num1,num2
    - Dictionary
    - Sets

- How to create a tuple (assign multiple variable with comma seperated and round bracket is optional
- Tuple can also be accessable like List and String by Index (Tuple Index out of range)
- Iterate a tuple : Iterate by the item, Iterate by Index , Iterate by Enumerate
- Count the occurance of a value in tuple (count function)
- Index function returns the index of a value else ValueError if the value is not present.

In [13]:
# you can put multiple values together with round bracket (not must)
var1 = (1,2,3,4,5)
print(type(var1))
print(var1)
print(f'Memory location : {id(var1)}')
print(f"Accesing by index 0 : {var1[0]}")
print(f"Accesing by index 1 : {var1[1]}")

<class 'tuple'>
(1, 2, 3, 4, 5)
Memory location : 4357217376
Accesing by index 0 : 1
Accesing by index 1 : 2

In [21]:
# you can put multiple values together with round bracket (not must)
var1 = (1,)
print(type(var1))
print(f'length of the tuple : {len(var1)}')
print(var1)
print(f"Accesing by index 0 : {var1[0]}")
print(f"Accesing by index 1 : {var1[1]}")

<class 'tuple'>
length of the tuple : 1
(1,)
Accesing by index 0 : 1

IndexError: tuple index out of range

In [8]:
# you can put the multiple values without round brackets also
var2 = 1, 2, 3, 4, 5
print(type(var2))
print(var2)

<class 'tuple'>
(1, 2, 3, 4, 5)

In [ ]:
# Immutable ( Once a tuple created, you can't add or remove element from a tuple ), create it once

- Iterate a tuple : Iterate by the item, Iterate by Index , Iterate by Enumerate

In [24]:
for value in var2:
    print(value)

1
2
3
4
5

In [25]:
for index in range(len(var2)):
    print(f'Value at index[{index}] : {var2[index]}')

Value at index[0] : 1
Value at index[1] : 2
Value at index[2] : 3
Value at index[3] : 4
Value at index[4] : 5

In [31]:
for item in enumerate(var2):
    print(item)
    #print(type(item))
    print(f'Value at index[{item[0]}] : {item[1]}')

(0, 1)
Value at index[0] : 1
(1, 2)
Value at index[1] : 2
(2, 3)
Value at index[2] : 3
(3, 4)
Value at index[3] : 4
(4, 5)
Value at index[4] : 5

In [33]:
#help(tuple)

- Count the occurance of a value in tuple (count function)

In [39]:
numberTuple = 1,3,6,2,3,4,7,2,4,5,6,2,3,4,23
numberTuple.count(3)

0

- Index function returns the index of a value else ValueError if the value is not pres

In [41]:
numberTuple = 1,3,6,2,3,4,7,2,4,5,6,2,3,4,23

In [42]:
numberTuple.index(12)

ValueError: tuple.index(x): x not in tuple

In [43]:
numberTuple.index(23)

14