### Set Data Structure

- How create a empty set  : {}  or set()
- How to create a set with default elements :  2,65,8,34,63
- How to add value in to the set : add function
- How to remove all elements from set : clear function
- How to create a new copy of set : copy function
- How to differentiate two or more sets  : difference function
- How to retain the differnt elements in the only after difference : difference_update function
- How to remove a element from set : discard function
- How to remove a element from a set until it becomes empty : pop function
- How to remove a element by its value in set : remove function
- How to find the common elements between two sets :  intersection function
- How to update set by intersection element in itself : difference_update function
- How to find if two sets has nothing commmon in it (True), else return False : isdisjoint function
- How to find a set is the subset of another set : issubset function
- How to find a set is the superset of another set : issuperset function
- How to get a new set with symmetric difference : symmetric_difference function
- How to update the set with symmetric difference  : symmetric_difference_update function
- How to get the all elements between two or more sets : union function
- How to update a set with another set (union)  : update function

In [50]:
#help(set)

In [23]:
set('ABCDEF')

{'A', 'B', 'C', 'D', 'E', 'F'}

In [24]:
set([1,24,5,6,7,343])

{1, 5, 6, 7, 24, 343}

In [25]:
set((1,2,3,5,3,6,343))

{1, 2, 3, 5, 6, 343}

- How create a empty set  : {}  or set()

In [11]:
mySet = {}
print(mySet)
print(type(mySet))

{}
<class 'dict'>

In [12]:
newSet = set()
print(newSet)
print(type(newSet))

set()
<class 'set'>

- How to create a set with default elements :  2,65,8,34,63

In [15]:
mySet = {2 ,65,8,34,63}
print(mySet)

{65, 2, 34, 8, 63}

In [16]:
mySet = set([2,65,8,34,63])
print(mySet)

{65, 2, 34, 8, 63}

In [19]:
mySet = set()
mySet.add(65)
mySet.add(2)
mySet.add(34)
mySet.add(8)
mySet.add(63)
print(mySet)

{65, 2, 34, 8, 63}

- How to add value in to the set : add function

In [20]:
mySet = set()
mySet.add(65)
mySet.add(2)
mySet.add(34)
mySet.add(8)
mySet.add(63)
print(mySet)

{65, 2, 34, 8, 63}

In [13]:
myset = {2,1,4,5,3,2,34,2}

In [7]:
print(type(myset))

<class 'set'>

In [8]:
print(myset)

{1, 2, 3, 4, 5, 34}

In [4]:
myset = { 'ABCD' ,34, 96 , 12.56, 'BCd', 'c'}

In [5]:
myset

{12.56, 34, 96, 'ABCD', 'BCd', 'c'}

- How to remove all elements from set : clear function

In [26]:
myset = { 'ABCD' ,34, 96 , 12.56, 'BCd', 'c'}
print(f'Before Clear function called : {myset}')
myset.clear()
print(f'After Clear function called : {myset}')

Before Clear function called : {96, 'c', 34, 'BCd', 'ABCD', 12.56}
After Clear function called : set()

- How to create a new copy of set : copy function

In [28]:
myset = { 'ABCD' ,34, 96 , 12.56, 'BCd', 'c'}
newset = myset.copy()
print(f'Before Removal function called : {myset}')
print(f'Before Removal function called : {newset}')
myset.remove('ABCD')
newset.remove(96)
print(f'After Removal function called : {myset}')
print(f'After Removal function called : {newset}')

Before Clear function called : {96, 'c', 34, 'BCd', 'ABCD', 12.56}
Before Removal function called : {96, 'c', 34, 'BCd', 'ABCD', 12.56}
Before Removal function called : {96, 'c', 34, 'BCd', 'ABCD', 12.56}
After Removal function called : {96, 'c', 34, 'BCd', 12.56}
After Removal function called : {'c', 34, 'BCd', 'ABCD', 12.56}

- How to differentiate two sets  : difference function

In [35]:
myset = {96, 'c', 34, 'BCd', 12.56,19}
newset = {'c', 34, 'BCd', 'ABCD', 12.56}
result1set = myset.difference(newset,)
result2set = newset.difference(myset,result1set)
print(f'{myset}')
print(f'{newset}')
print(f'{result1set}')
print(f'{result2set}')

{96, 'c', 34, 'BCd', 19, 12.56}
{'c', 34, 'BCd', 'ABCD', 12.56}
{96, 19}
{'ABCD'}

- How to retain the differnt elements in the only after difference : difference_update function

In [39]:
myset = {96, 'c', 34, 'BCd', 12.56,19}
newset = {'c', 34, 'BCd', 'ABCD', 12.56}
myset.difference_update(newset)
print(f'{myset}')
print(f'{newset}')

{96, 19}
{'c', 34, 'BCd', 'ABCD', 12.56}

In [36]:
help(set.difference_update)

Help on method_descriptor:

difference_update(...)
    Remove all elements of another set from this set.

- How to remove a element from set even though if element not present, not generate any error : discard function

In [42]:
myset = {96, 'c', 34, 'BCd', 12.56,19}
myset.discard(34)
print(myset)
myset.discard(56)
print(myset)

{96, 'c', 'BCd', 19, 12.56}
{96, 'c', 'BCd', 19, 12.56}

- How to remove a element from a set until it becomes empty : pop function

In [78]:
myset = {96, 'c', 34, 'BCd', 12.56,19}
help(myset.pop)

Help on built-in function pop:

pop(...) method of builtins.set instance
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

In [79]:
myset.pop()

96

- How to remove a element by its value in set : remove function

In [83]:
myset = {96, 'c', 34, 'BCd', 12.56,19}
help(set.remove)

Help on method_descriptor:

remove(...)
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

In [87]:
if 34 in myset:
    myset.remove(34)
print(myset)

{96, 'c', 'BCd', 19, 12.56}

- How to find the common elements between two or more sets :  intersection function

In [46]:
myset = {96,  34, 'BCd', 12.56,19}
newset = {'c', 34, 'BCd', 'ABCD', 12.56}
myset.intersection(newset)

{12.56, 34, 'BCd'}

- How to update set by intersection element in itself : difference_update function

In [49]:
myset = {96,  34, 'BCd', 12.56,19}
newset = {'c', 34, 'BCd', 'ABCD', 12.56}
myset.intersection_update(newset)
print(myset)
print(newset)

{34, 'BCd', 12.56}
{'c', 34, 'BCd', 'ABCD', 12.56}

- How to find if two sets has nothing commmon in it (True), else return False : isdisjoint function

In [88]:
help(set.isdisjoint)

Help on method_descriptor:

isdisjoint(...)
    Return True if two sets have a null intersection.

In [91]:
myset = {96,  34, 'BCd', 12.56,19}
newset = {'c', 34, 'BCd', 'ABCD', 12.56}
result = myset.isdisjoint(newset)
print(myset)
print(newset)
print(f'There are 3 elements commmon in between myset and newset : {result}')

{96, 34, 19, 'BCd', 12.56}
{'c', 34, 'BCd', 'ABCD', 12.56}
There are 3 elements commmon in between myset and newset : False

In [92]:
myset = {96,19}
newset = {'c', 34, 'BCd', 'ABCD', 12.56}
result = myset.isdisjoint(newset)
print(myset)
print(newset)
print(f'There are 0 elements commmon in between myset and newset : {result}')

{96, 19}
{'c', 34, 'BCd', 'ABCD', 12.56}
There are 0 elements commmon in between myset and newset : True

- How to find a set is the subset of another set : issubset function

In [95]:
myset = {96,  34, 'BCd', 12.56,19}
newset = { 34, 'BCd', 12.56}
print(myset.issubset(newset))
print(newset.issubset(myset))

False
True

- How to find a set is the superset of another set : issuperset function

In [97]:
myset = {96,  34, 'BCd', 12.56,19}
newset = {34, 'BCd'}
print(myset.issuperset(newset))
print(newset.issuperset(myset))

True
False

- How to get a set with symmetric difference (elements which is not presents in vice versa from both set) : symmetric_difference function

In [64]:
help(set.symmetric_difference)

Help on method_descriptor:

symmetric_difference(...)
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [ ]:
myset = {96,  34, 'BCd', 12.56,19}
newset = {'c', 34, 'BCd', 'ABCD', 12.56}
resultset = myset.symmetric_difference(newset)
print(myset)
print(newset)
print(resultset)

- How to update the set with symmetric difference  : symmetric_difference_update function

In [68]:
myset = {96,  34, 'BCd', 12.56,19}
newset = {'c', 34, 'BCd', 'ABCD', 12.56}
myset.symmetric_difference_update(newset)
print(myset)
print(newset)

{96, 'c', 19, 'ABCD'}
{'c', 34, 'BCd', 'ABCD', 12.56}

- How to get the all elements between two or more sets : union function

In [57]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [58]:
myset = {96,  34, 'BCd', 12.56,19}
newset = {'c', 34, 'BCd', 'ABCD', 12.56}
resultset = myset.union(newset)
print(myset)
print(newset)
print(resultset)

{96, 34, 19, 'BCd', 12.56}
{'c', 34, 'BCd', 'ABCD', 12.56}
{96, 34, 'ABCD', 12.56, 'c', 19, 'BCd'}

- How to update a set with another set (union)  : update function

In [59]:
help(set.update)

Help on method_descriptor:

update(...)
    Update a set with the union of itself and others.

In [60]:
myset = {96,  34, 'BCd', 12.56,19}
newset = {'c', 34, 'BCd', 'ABCD', 12.56}
myset.update(newset)
print(myset)
print(newset)

{96, 34, 'ABCD', 12.56, 'c', 19, 'BCd'}
{'c', 34, 'BCd', 'ABCD', 12.56}