### **Data Structures** :
    - List => [] 
    - Tuple
    - Dictionary
    - Sets

### **List Data Structres** :

- Variables Can be multiples Type : Integer, Float, Boolean, String
- List, Tuple, Dictionary and Sets can accomadate any kind of Variables

### Functions in the List: 
- Create A Emtpy List -  2 methods
- Create a list with some values (numbers, strings)-
- Iterate a list (Iteration by element, Iteration by Index, Iteration by enumerate)
- How to add element into a list (append function)
- How to delete an element from a list (del function/ remove if found, else ValueError)
- How to sort the list by using sort function
- How to add two list  (extend function)
- How to clear or remove all element from a list (clear function)
- How to use copy (Shallow Copy ) of the list
- how to count the occurance of a variable
- how to get the index of a element if it exists : (index function, ValueError)
- How to insert a value at given index in the list (insert function)
- How to remove value calling : pop function (index=-1)
- How to reverse the list : Inplace

In [60]:
#help(list)

In [3]:
# For loop : Range Variable (SEQUENCE) , list iteration by item, list iteration by index, and even enumerate

- Create A Emtpy List -  2 methods

In [4]:
#help(list)

In [5]:
# First method
nameList = [ ] # creating a empty list with [] 

#Second method : # create a object of list class
numberList = list() # calling the list class by ()

In [6]:
type(nameList)

list

In [7]:
print(nameList)

[]

- Create a list with  values

In [8]:
# List : Take different type of data type all together (Integer, Float, String, Bool )
person = [ "ABC", 12, 10000, 234.34, False, 32434,34, 343,34,343 ]
print(type(person))
print(person)

<class 'list'>
['ABC', 12, 10000, 234.34, False, 32434, 34, 343, 34, 343]

In [ ]:
#Similarity in String, list and tuple : len function and access by index

In [9]:
print(person)

['ABC', 12, 10000, 234.34, False, 32434, 34, 343, 34, 343]

In [31]:
# Python : Infinite Length (Manage itself the capacity )

- Iterate a list (Iteration by element, Iteration by Index, Iteration by enumerate)

In [13]:
#Iteration by item
for item in person :
    print(item)

ABC
12
10000
234.34
False
32434
34
343
34
343

In [10]:
# inbuilt len - returns the length of the string or list or tuple or dictionary or set
print(f'Number of elements in the Person list : {len(person)}')

Number of elements in the Person list : 10

#### Indexing

In [17]:
person[0]

'ABC'

In [18]:
person[1]

12

In [19]:
person[9]

343

In [11]:
person[10]

IndexError: list index out of range

In [13]:
# iterate the List  by index
for index in range(len(person)):
    print(f"Value at index[{index}] is {person[index]}  ")

Value at index[0] is ABC
Value at index[1] is 12
Value at index[2] is 10000
Value at index[3] is 234.34
Value at index[4] is False
Value at index[5] is 32434
Value at index[6] is 34
Value at index[7] is 343
Value at index[8] is 34
Value at index[9] is 343

In [15]:
#help(enumerate)

In [16]:
# iteration list with enumerate
for item in enumerate(person):
    print("Tuple    : ",item)
    print("Indexing : ",item[0],item[1])
    print(f"String Formating value at Index[{item[0]}] : {item[1]}  ")

Tuple    :  (0, 'ABC')
Indexing :  0 ABC
String Formating value at Index[0] : ABC
Tuple    :  (1, 12)
Indexing :  1 12
String Formating value at Index[1] : 12
Tuple    :  (2, 10000)
Indexing :  2 10000
String Formating value at Index[2] : 10000
Tuple    :  (3, 234.34)
Indexing :  3 234.34
String Formating value at Index[3] : 234.34
Tuple    :  (4, False)
Indexing :  4 False
String Formating value at Index[4] : False
Tuple    :  (5, 32434)
Indexing :  5 32434
String Formating value at Index[5] : 32434
Tuple    :  (6, 34)
Indexing :  6 34
String Formating value at Index[6] : 34
Tuple    :  (7, 343)
Indexing :  7 343
String Formating value at Index[7] : 343
Tuple    :  (8, 34)
Indexing :  8 34
String Formating value at Index[8] : 34
Tuple    :  (9, 343)
Indexing :  9 343
String Formating value at Index[9] : 343

- **How to add element into a list**

In [18]:
# append function 
print(person)

# adding an element into the list by using append function
person.append("Elephant")
person.append(54)

print(person)

['ABC', 12, 10000, 234.34, False, 32434, 34, 343, 34, 343, 'Elephant']
['ABC', 12, 10000, 234.34, False, 32434, 34, 343, 34, 343, 'Elephant', 'Elephant', 54]

In [19]:
l = []
l.append(5)
l.append("wew")
l.append(54.2323)
print(l)

[5, 'wew', 54.2323]

In [25]:
print(dir())

['In', 'Out', '_', '_22', '_6', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__session__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'index', 'item', 'nameList', 'numberList', 'open', 'person', 'quit']

In [24]:
# del is the keyword used to delete a object from enviornment 
del l

In [42]:
l = [5, "wew", 54.2323]
print(l)

[5, 'wew', 54.2323]

In [31]:
print(person)

[12, 10000, 234.34, False, 32434, 34, 343, 34, 343, 'Elephant', 'Elephant', 54]

In [30]:
#help(list)

- Deleting the value from the List

In [28]:
# del keyword is used to delete the first element of the list 
del person[0]
print(person)

[12, 10000, 234.34, False, 32434, 34, 343, 34, 343, 'Elephant', 'Elephant', 54]

In [33]:
# Remove the value in the list with given value if found
print(person)
# otherwise it will raise the Value Error
person.remove(1)
print(person)

[12, 10000, 234.34, False, 32434, 343, 34, 343, 'Elephant', 'Elephant', 54]

ValueError: list.remove(x): x not in list

In [35]:
#help(list)

In [39]:
person.remove(False)
person.remove('Elephant')
person.remove('Elephant')
person.remove(234.34)

In [42]:
# sort function : is inbuilt function in list data structure which you can use to sort the data in the list
print(person)
person.sort(reverse=True)
print(person)

[12, 34, 54, 343, 343, 10000, 32434]
[32434, 10000, 343, 343, 54, 34, 12]

- Add two list with each other

In [75]:
# example of assignig a new list to same variable
l1 =  [1,2,4,5]
l2 = [32,43,54,66]
print(f'Memory location where l1 list is saved : {id(l1)}')
print(f'Memory location where l2 list is saved : {id(l2)}')
# not be doing this kind of operaiton
l1 = l2 + l1   # reassign the result (new Memory was allocated here)
print(f'Memory location where l1 list is saved : {id(l1)}')
print(l1)
print(l2)

Memory location where l1 list is saved : 4434276672
Memory location where l2 list is saved : 4434270464
Memory location where l1 list is saved : 4434115264
[32, 43, 54, 66, 1, 2, 4, 5]
[32, 43, 54, 66]

In [44]:
# example of adding a list to previous declared list
l1 =  [1,2,4,5]
l2 = [32,43,54,66]
print(f'Memory location where l1 list is saved : {id(l1)}')
print(f'Memory location where l2 list is saved : {id(l2)}')
l1.extend(l2)
print(f'Memory location where l1 list is saved : {id(l1)}')
print(l1)
print(l2)

Memory location where l1 list is saved : 4372535680
Memory location where l2 list is saved : 4372541888
Memory location where l1 list is saved : 4372535680
[1, 2, 4, 5, 32, 43, 54, 66]
[32, 43, 54, 66]

In [45]:
l1.clear()
print(l1)
print(f'Memory location where l1 list is saved : {id(l1)}')

[]
Memory location where l1 list is saved : 4372535680

In [47]:
l1 =  [1,2,3,4,5]
# assign the variable it is keep the memory location with l3,
# l1 = 0x8086
# l3 = 0x8086
l3 = l1
print("Before:",l1)
print("Before:",l3)
l3.remove(4)
l1.remove(2)
print("After:",l1)
print("After:",l3)

Before: [1, 2, 4, 5]
Before: [1, 2, 4, 5]
After: [1, 5]
After: [1, 5]

In [49]:
l1 =  [1,2,4,5]
# shallow copy : new memory was assigned to l3 and coping each element of l1 list to l3 list
# l1 = 0x8086 :  [1,4,5]
# l3 = 0x9023 (copy each element of l1 to l3) = [1,2,5]
l3 = l1.copy()
print("Before:",l1)
print("Before:",l3)
l3.remove(4)
l1.remove(2)
print("After:",l1)
print("After:",l3)

Before: [1, 2, 4, 5]
Before: [1, 2, 4, 5]
After: [1, 4, 5]
After: [1, 2, 5]

- Count the occurance of the variable

In [58]:
person = [ "ABC", 12, 10000, 12, 234.34, False, 32434, 12, 34,34,343, 12 ]
person.count(343)

1

- how to get the index of a element if it exists : (index function, ValueError)

In [64]:
print(person)
print(person.index(12))
print(person.index(34))
print(person.index(50))

['ABC', 12, 10000, 12, 234.34, False, 32434, 12, 34, 34, 343, 12]
1
8

ValueError: 50 is not in list

In [69]:
if person.count(34) > 0 :
    print(f'The value 34 found at index : {person.index(34)}')

The value 34 found at index : 8

- How to insert a value at given index in the list (insert function)

In [85]:
print(person)
person.insert(2,25)
print(person)

['ABC', 12, 25, 25, 10000, 12, 50, 50, 234.34, False, 32434, 12]
['ABC', 12, 25, 25, 25, 10000, 12, 50, 50, 234.34, False, 32434, 12]

- How to remove value calling : pop function (index=-1)

In [91]:
print(person)
person.pop(3)
print(person)

['ABC', 25, 25, 12, 50, 50, 234.34, False, 32434, 12]
['ABC', 25, 25, 50, 50, 234.34, False, 32434, 12]

In [92]:
#help(list)

- How to reverse the list : Inplace

In [93]:
print(person)
person.reverse()
print(person)

['ABC', 25, 25, 50, 50, 234.34, False, 32434, 12]
[12, 32434, False, 234.34, 50, 50, 25, 25, 'ABC']