### 1. Commenting : Single or Multiple Lines Commenets

In [2]:
# Declare a variable for future processing
weight = 85

In [ ]:
In python, string can be defined with single quotes or dobule quotes.

In [2]:
"""
This is my first python code in which,
I will to display table of number 2.
    Input : None
    Ouput : None
"""

'\nThis is my first python code in which,\nI will to display table of number 2.\n    Input : None\n    Ouput : None\n'

In [3]:
'''
This is my first python code in which,
I will to display table of number 2.
    Input : None
    Ouput : None
'''

'\nThis is my first python code in which,\nI will to display table of number 2.\n    Input : None\n    Ouput : None\n'

In [ ]:
question = "What's your name ?"

### 2. Declare a Variable in languages : (numbers or strings are immutatables)

In [19]:
# Declare a integer variable (whole numbers -inf to +inf)
# In python : integer C, C++ (integer, long, long long) 
# Integer range: 32 bit and 64 bit: 
income = 265
print(type(income))

<class 'int'>

In [20]:
# Declare a Boolean variable
condition = True
flag = False
print(condition)
print(type(flag))

True
<class 'bool'>

In [129]:
# Python bool function is there to define the value as True or False : bool function
""" ANY INTEGER VALUE IS KNOWN AS TRUE EXCEPT 0 False """
print(bool(0))
print(bool(123213))
print(bool(-23232))

False
True
True

In [18]:
# Declaring price of butter Decimal numbers (Float/Double ...high level)
price = 2.56 
print(type(price))
# when we save the decimal values we need the precision the accuracy in the decimal point
# higher the accuracy, require more memory in the computer
# float : less precision kind of variable
# double : high precision kind of variable
# In Python, we have only one variable to save decimal point values (float)

<class 'float'>

In [ ]:
#Escape Sequence character \ is used for multiple line string declaration or single quotes strings

In [21]:
#Declaring a string with double quotes or single quotes
name = "ABCDEX"
fname = 'XYZ'
age = 122

In [35]:
# Function : len : it will measure the length of string
len("hello world")

11

In [37]:
# RAW string are used while doing REGEX (Regular Expression coding ) =>r
s1 = r"This is my program."
type(s1)

str

In [38]:
# RAW string are used while doing REGEX (Regular Expression coding ) => R
s1 = R"This is my program."
type(s1)

str

In [1]:
name = "asdasfa"
age = 45

#Explanation : indexing we can access the string
asdasfa
0123456

In [9]:
name

'asdasfa'

In [3]:
name[0]  # C, C++, Java (Immutable)

'a'

In [10]:
#name[start:end]
#start and end is the index in the string

In [5]:
name[2]

'd'

In [6]:
name[3]

'a'

In [7]:
name[4]

's'

In [31]:
name[5]

'f'

In [32]:
name[6]

'a'

In [33]:
name[7]

IndexError: string index out of range

In [12]:
# Declaring a variable which store multiple line statements  
summary = 'This is my code in python. python is very \n \
simple language. Anbyone can learn python \n \
in two days'
print(summary)

This is my code in python. python is very
 simple language. Anbyone can learn python
 in two days

In [11]:
# Declaring a variable which store multiple line statements  
summary = "This is my code in python. python is very \n \
simple language. Anbyone can learn python \n \
in two days"
print(summary)

This is my code in python. python is very
 simple language. Anbyone can learn python
 in two days

# Declaring a variable which store multiple line statements  
summary = "This is my code in python. python is very \n \
simple language. Anbyone can learn python \n \
in two days"
print(summary)

In [40]:
paragraph = '''This is my code in python. 
python is very simple language. 
Anyone can learn python in two days'''
print(paragraph)

This is my code in python.
python is very simple language.
Anyone can learn python in two days

In [13]:
paragraph = """This is my code in python. 
python is very simple language. 
Anyone can learn python in two days"""
print(paragraph)

This is my code in python.
python is very simple language.
Anyone can learn python in two days

In [15]:
question = 'What\'s your name?'

In [16]:
question = "What's your name?"

### Concatenation in String

In [18]:
fName = "Sanjay"
lName = "Kumar"

# Plus is the symbol to use for string concatenation
name = fName + " " + lName
print(f"My name is {name}.")

My name is Sanjay Kumar.

### 3. Print String in python

In [26]:
"""
Python has multiple kinds of printing statement for string

Python 2 :      
name = "ABCDEF" 
print "My name is %s"     % name
"""

'\nPython has multiple kinds of printing statement for string\n\nPython 2 :      \nname = "ABCDEF" \nprint "My name is %s"     % "\n\n'

In [19]:
"""
Python 3 :
"""
name = "ABCDEF" 
age = 45
print("My name is {} and my age is {}." .format(name,age))

My name is ABCDEF and my age is 45.

In [20]:
name = "ABCDEF" 
age = 45
print("My name is {0} and my age is {1}." .format(name,age))

My name is ABCDEF and my age is 45.

In [22]:
name = "ABCDEF" 
age = 45
print("My name is {} and my age is {}." .format(age,name))

My name is 45 and my age is ABCDEF.

In [29]:
name = "ABCDEF" 
age = 45
fname = "CYZ"
phone = "9999234343"
print("My name is {1} and my age is {0}. My father name is {2} and my mobile number is {3}" .format(age,name,fname,phone))

My name is ABCDEF and my age is 45. My father name is CYZ and my mobile number is 9999234343

In [28]:
item = "mango"
price = 12.34342343243432345343453454
print("The cost of {} is {:0.2}" .format(item,price))
print("The cost of {} is {:0.2f}" .format(item,price)) # Expected result for my floating point

The cost of mango is 1.2e+01
The cost of mango is 12.34

### Python 3.6 or higher Python print changeed to f-strings

In [99]:
name = "ABCDEF"
age = 45
print(f"My name is {name} and my age is {age}")
print(f'My name is {name} and my age is {age}')

My name is ABCDEF and my age is 45
My name is ABCDEF and my age is 45

In [31]:
name = "ABCDEF" 
age = 45
fname = "CYZ"
phone = "9999234343"
print(f"My name is {name} and my age is {age}. My father name is {fname} and my mobile number is {phone}")

My name is ABCDEF and my age is 45. My father name is CYZ and my mobile number is 9999234343

In [ ]:
# Other High Level languages : C,C++ or Java they seperates the loop or condition { }
# but in python everything is managed by the spaces.

### 4. Naming Convention of variable :
Variable name : Identifier Naming
* The first character of the identifier must be a letter of the alphabet (uppercase ASCII or lowercase ASCII or Unicode character) or an underscore (_).
* The rest of the identifier name can consist of letters (uppercase ASCII or lowercase ASCII or Unicode character), underscores (_) or digits (0-9).
* Identifier names are case-sensitive.

In [55]:
myName = "sanjay"
myname = "ABC"
MyName = "ASDAS"
Myname = "SADAS"
Name =  "SADASDASD"
_name = "ASDASASD"
myName9_ = "sadSA"
asdasdasdasdasdasdasdasdasdsadasdasdasdasdasdasdasdasdasdasdsadas = "234324"

### 5. Numbers Systems :

* Decimal Number Systems :(10 digits)  0,1,2,3,4,5,6,7,8,9 (ex. 10000000000, 999999999999, -99999999999)
* Binary Number System : (2 digits) : 0,1 (ex. 11111111, 000001)
* Octal Number System : (8 digits) : 0,1,2,3,4,5,6,7 (75,344,343)
* Hexa-decimal Number System : (16 digits) : 0,1,2,3,4,5,6,7,8,9,A(10),B(11),C(12), D(13), E(14), F(15) (0xAAB,0x102)

In [ ]:
#in build function hex (decimal value) and return the converted hex value

In [20]:
help(format)

Help on built-in function format in module builtins:

format(value, format_spec='', /)
    Return value.__format__(format_spec)

    format_spec defaults to the empty string.
    See the Format Specification Mini-Language section of help('FORMATTING') for
    details.

In [33]:
number = 128
print(f"Binary Value of number {number}      : {number:b}")
print(f"Octal Value of number {number}       : {number:o}")
print(f"Hexadecimal Value of number {number} : {number:x}")
print(f"Hexadecimal Value of number {number} : {number:X}")

Binary Value of number 128      : 10000000
Octal Value of number 128       : 200
Hexadecimal Value of number 128 : 80
Hexadecimal Value of number 128 : 80

### Operators

* **Arithmatical Operators**  : +, -, *, /, %, **, //
* **Assignment Operators**: =
* **Logicial Operators** : and, or, not
* **Shift Operators** : << (left Shift Operator) , >> (right Shift Operator)
* **Bit-Wise Operators**: | (or), & (and) , ^(logical Ex-or), ~(Bit wise negate)
* **Comparison Operator** : >(greater than), < (less than), >= (greater than equal), <= (less than equal) == (equal), != (not equal),

## Arithematical Operators

In [65]:
a = 5
b = 29 
name = "Ted"

In [66]:
# Addition the two number plus symbol (+)
result = a + b
print(f"The sum of {a} and {b} is {result}")

The sum of 5 and 29 is 34

In [67]:
# Subtraction the two number minus symbol (-)
result =  b - a
print(f"The subtract of {b} and {a} is {result}")

The subtract of 29 and 5 is 24

In [68]:
# Multipication the two number mult symbol (*)
result =  a * b
print(f"The Multipication of {a} and {b} is {result}")

The Multipication of 5 and 29 is 145

In [69]:
# Division the two number divide symbol (/)
result =  b / a
print(f"The division of {b}  by {a} is {result:0.3f}")

The division of 29  by 5 is 5.800

In [70]:
# Modulus operator to give remainder of two number remainder symbol (%)
result =  b % a
print(f"The remainder of {b} / {a} is {result}")

The remainder of 29 / 5 is 4

In [71]:
# Exponential operator to b^a  : expoential (**)
result =  b ** a
print(f"The exponential of {b} ^ {a} is {result}")

The exponential of 29 ^ 5 is 20511149

In [72]:
# Floor Division : Quotient value operator to b // a  : quotient (//)
result =  b // a
print(f"The Quotient value of {b} / {a} is {result}")

The Quotient value of 29 / 5 is 5

### Assigment Operators** : =

In [90]:
### Logical Operators : and, or not

In [75]:
x = 6

In [76]:
# and Statement :  Both statement should be true, only then result would be true

In [77]:
print(x > 3 and x < 10 )
print(x > 7 and x < 10 )
print(x > 7 and x > 10 )
print(x > 3 and x < 5)

True
False
False
False

In [103]:
# or Statement :  Either of one statement should be true, only then result would be true

In [105]:
print(x > 3 or x < 10 )
print(x > 7 or x < 10 )
print(x > 7 or x > 10 )
print(x > 3 or x < 5)

True
True
False
True

In [107]:
# not statement : negate (opposite)
print(not(x > 3))

False

In [109]:
print(not(x >10))

True

In [78]:
# It will be used in Conditional Statement : if..else, if ..elif..else

## Shift Operators

In [25]:
# Left Shift Operators :
number = 15 
#from the right you will be pushing 0 into the number
#      0000 1000    in Decimal of 8  in 8 bit
#      00010000    in Decimal of 16 
# Conclusion: whenever we do left shift on any binary number, it is multiplied by 2
print(f"Before Left shift operation, Number is  {number:b} : {number}")
result = number << 4
print(f"After Left shift operation, Number is  {result:b} : {result}")

Before Left shift operation, Number is  1111 : 15
After Left shift operation, Number is  11110000 : 240

In [41]:
number = 16
result = number >> 3
print(f"Binary Value of number {number}      : {number:b}")
print(f"Binary Value of number {result}      : {result:b}")

Binary Value of number 16      : 10000
Binary Value of number 2      : 10

In [109]:
# Right Shift Operators :
number = 128
#from the left you will be pushing 0 into the number
#      00001000    in Decimal of 8   
#      00000100    in Decimal of 4 
# Conclusion: whenever we do right shift on any binary number, it is dividing by 2
print(f"Before Right shift operation, Number is  {number:b} : {number}")
result = number >> 2
print(f"After right shift operation, Number is  {result:b} : {result}")

Before Right shift operation, Number is  1000 : 8
After right shift operation, Number is  10 : 2

## Bit-Wise Operators

In [111]:
a = 32
b = 56
print(f"Number {a:2} is in Binary : {a:b}")
print(f"Number {b:2} is in Binary : {b:b}")

Number 32 is in Binary : 100000
Number 56 is in Binary : 111000

In [116]:
"""Learning of bit wise operation :
Number 32 is in Binary : 100000
Negate Operation       : 111000
"""

'Learning of bit wise operation :\nNumber 32 is in Binary : 100000\nNumber 56 is in Binary : 111000\nOperation :\n'

In [113]:
# bit-wise or Operations : symbol (|)
# or means : either of one bit is 1, resulting bit will be 1 else 0
result = a | b
print(f"Result value of bit-wise or operation of {a} and {b} is {result} : {result:b}")

Result value of bit-wise or operation of 32 and 56 is 56 : 111000

In [114]:
# bit-wise and Operations : symbol (&)
# and means : if both the bit are 1, only then result bit is 1, else 0
result = a & b
print(f"Result value of bit-wise and operation of {a} and {b} is {result} : {result:b}")

Result value of bit-wise and operation of 32 and 56 is 32 : 100000

In [115]:
# bit-wise ex-or Operations : symbol (^)
# ex-or means : if both bit are opposite, then result is 1 else 0
result = a ^ b
print(f"Result value of bit-wise exor operation of {a} and {b} is {result} : {result:b}")

Result value of bit-wise exor operation of 32 and 56 is 24 : 11000

In [117]:
# bit-wise negate Operations : symbol (~) tilda
# negate means : if change the bit if 1 to 0 and 0 to 1, -(x+1)
result = ~a 
print(f"Result value of bit-wise negate operation of {a} is {result} : {result:b}")

Result value of bit-wise negate operation of 32 is -33 : -100001

## Comparison Based Operators

In [43]:
a = 32
b = 56

In [44]:
print(a > b)
print(a >= b)
print(a < b)
print(a <= b)
print(a == b)
print(a != b)

False
False
True
True
False
True

### In-built Function:
* **len function**  : it works on string data

In [ ]:
# C, C++, Java: Character 'a' 'z' and String : "AVCSS"
# Python : String  'a' "a" "ASDA"

In [45]:
name = "UVWXYZ"
print(f"The length of string {name} is {len(name)}.")
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[4])
print(name[5])

The length of string UVWXYZ is 6.
U
V
W
X
Y
Z

In [79]:
# decimal (.) precision of 3 for float '0.333'
print('{0:.3}'.format(100000.0/3))
print('{0:.3f}'.format(100000.0/3))
# fill with underscores (_) with the text centered
# (^) to 11 width '___hello___'
print('{0:_^11}'.format('hello'))
# keyword-based 'Swaroop wrote A Byte of Python'
print('{name} wrote {book}'.format(name='Swaroop', book='A Byte of Python'))

3.33e+04
33333.333
___hello___
Swaroop wrote A Byte of Python

# Python3 String Formating :  READING
https://pyformat.info/

In [49]:
name = "Courtney"
len(name)

8

In [51]:
name * 10

'CourtneyCourtneyCourtneyCourtneyCourtneyCourtneyCourtneyCourtneyCourtneyCourtney'

In [7]:
string = "*"
line = string * 40
print(line)

****************************************

In [58]:
name = "Courtney"
fname = "raghuveer"
age = 34
dage = 74
print("-"*56)
print(f"|{name:20}|{fname:20}|{age:6}|{dage:6}|") # Default : string left hand formating, number are right hand
print(f"|{name:>20}|{fname:>20}|{age:>6}|{dage:>6}|") # right hand align formating
print(f"|{name:<20}|{fname:<20}|{age:<6}|{dage:<6}|") # Left hand align formating 
print(f"|{name:^20}|{fname:^20}|{age:^6}|{dage:^6}|") # Center align  formating 
print(f"|{name:*^20}|{fname:*^20}|{age:*^6}|{dage:*^6}|") # Center align  formating 
print("-"*56)

--------------------------------------------------------
|Courtney            |raghuveer           |    34|    74|
|Courtney            |raghuveer           |    34|    74|
|            Courtney|           raghuveer|    34|    74|
|Courtney            |raghuveer           |34    |74    |
|      Courtney      |     raghuveer      |  34  |  74  |
|******Courtney******|*****raghuveer******|**34**|**74**|
--------------------------------------------------------

In [ ]:
# In python langauge, there are certain functionality, 
# which is already implemented and given it to you to use as modules

In [ ]:
# General Learning :

Python language (Intepreter ) is written in C or C++. Many modules (in-built i.e. sys or os)
module are written in high level langauge like C (because of perfomance). otherwise 
other module in python langauge.

In [ ]:
# How to use the module sys, import the module
# import MoudleName
# Standard Modules : sys, os, math (Square root )

In [6]:
import sys
import math
import os

In [7]:
# Checking the functions available in the module
# help function to see the functionality available in the module

In [12]:
# print or display the information or documenation of math modules
# help(ModuleName)
help(math)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.

In [ ]:
"""
I have written function in C, I want to use that function in python ? (Blackbox)
"""

In computer, Number +8 and -8, I am using in system (8 bit memory to save the number)

Decimal in 8 : Binary 1000
      Sign bit
+8 :  0 000 1000 (Binary )
-8 :  1 000 1000 (2's Complement)

for positive number sign bit (0)
for negative number sign bit (1)

Negative number in computer are save in 2's Compliment.  1's complement + 1 => 2's Complement

1's Complement : 0111
2's Complement : 1000