#### Overview of Pandas
- Dataframe: How to create (List, Dictionary)
- Series: How to create(List, Dictionary)
- Locate: .loc/.iloc: We can access (Label) or rows of data frame/series
- Column Data: DataFrameObject.ColumnName or DataFrameObject['ColumnName']
- CSV File Reading: How to open and read the CSV file as data frame object
#### Learning about data from data frame
- Custom File: Separated by | , -, \, No header , and you also assigned custom column name
- head function: It displays first five rows (default) or top n(integer) lines from the data frame
- tail function: It displays last five rows (default) or bottom n(integer) lines from the data frame
- info function: it displays each column and its non null values, data type
- describe function: it displays stats value of numerical columns (count,min,max,mean,std,25%,50%,75%)
#### Converting the data type of a column data in a data frame
- astype function : convert the data type of the data frame column
- to_datetime function : Convert the date data from data frame to the Date Time object 
#### Cleaning of the data frame in terms of missing values (NULL),
-  dropna function : It removes the null and value and returns the new data frame or inplace=True (it removes the null values and return None) or you can only remove null value
-  fillna function: It can be applied on the full data frame or column of the data frame. It will replace the missing values with mean or median or mode function or fixed value
#### Removing unnecessary Column from data frame
- df.drop([column names],axis=1)
#### Replacing the incorrect data in a smaller dataset
- .loc function : updating the new value into datagram i.e. df.loc[row,columnname] = new value
#### Replacing the incorrect data in a bigger dataset
- .loc function : iterate throw rows, and check for the condition and replace with value or NULL value
- drop function : to remove the rows which you want to accordinf to index value of Label value
#### Removing Duplicate Entries
- duplicated function: returns boolean value for each row either False or True
- drop_duplicates function : Remove the duplicate entries and return new data frame or inplace=True to work on iteself
-

In [52]:
import pandas as pd
import numpy as np

In [97]:
df = pd.read_csv('train.csv')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [98]:
# Removing the NULL value from data frame
df.dropna(inplace=True)

In [99]:
print(f'Shape of the data : {df.shape}')

Shape of the data : (9789, 18)

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9789 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9789 non-null   int64
 1   Order ID       9789 non-null   object
 2   Order Date     9789 non-null   object
 3   Ship Date      9789 non-null   object
 4   Ship Mode      9789 non-null   object
 5   Customer ID    9789 non-null   object
 6   Customer Name  9789 non-null   object
 7   Segment        9789 non-null   object
 8   Country        9789 non-null   object
 9   City           9789 non-null   object
 10  State          9789 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9789 non-null   object
 13  Product ID     9789 non-null   object
 14  Category       9789 non-null   object
 15  Sub-Category   9789 non-null   object
 16  Product Name   9789 non-null   object
 17  Sales          9789 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.4+ MB

In [101]:
df.drop(['Row ID'],axis=1,inplace=True)

In [57]:
df['Postal Code'] = df['Postal Code'].astype(int)

In [102]:
# String time : https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
df['Order Date'] = pd.to_datetime(df['Order Date'],format="%d/%m/%Y")
df['Ship Date'] = pd.to_datetime(df['Ship Date'],format='%d/%m/%Y') 
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9789 entries, 0 to 9799
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9789 non-null   object
 1   Order Date     9789 non-null   datetime64[ns]
 2   Ship Date      9789 non-null   datetime64[ns]
 3   Ship Mode      9789 non-null   object
 4   Customer ID    9789 non-null   object
 5   Customer Name  9789 non-null   object
 6   Segment        9789 non-null   object
 7   Country        9789 non-null   object
 8   City           9789 non-null   object
 9   State          9789 non-null   object
 10  Postal Code    9789 non-null   float64
 11  Region         9789 non-null   object
 12  Product ID     9789 non-null   object
 13  Category       9789 non-null   object
 14  Sub-Category   9789 non-null   object
 15  Product Name   9789 non-null   object
 16  Sales          9789 non-null   float64
dtypes: datetime64[ns](2), float64(2), object(13)
memory usage: 1.3+ MB

In [27]:
# This will work on full data frame (Full TABLE)
#df.dropna(inplace = True)

# this will work on multiple Column to remove null entries
df.dropna(subset=['Row ID','Postal Code'],inplace=True)

# this is only work for single column to remove null entries
df['Postal Code'].dropna(inplace=True)

In [103]:
# Outlier Detection :
#....LT....25%.....50%.....75%....UT...100%
Q1 = df.Sales.describe()['25%']
Q3 = df.Sales.describe()['75%']
# Inter Quartile Range (IQR)
IQR  = Q3 - Q1
LT = Q1 - 1.5 * IQR
UT = Q3 + 1.5 * IQR

In [104]:
# iterating the index for row
count = 0
for index in df.index:
    if df.loc[index,'Sales'] < LT or df.loc[index,'Sales'] > UT:
        #print(index,end=',')
        count += 1
print(f'Number of Outliers in Sales Data : {count}/{df.shape[0]}')

Number of Outliers in Sales Data : 1141/9789

In [105]:
# Method 1: Remove the outlier Data from the data frame
for index in df.index:
    if df.loc[index,'Sales'] < LT or df.loc[index,'Sales'] > UT:
        # for outlier data, putting null values
        df.loc[index,'Sales'] = np.NaN
df.dropna(inplace=True)
df.shape

(8648, 17)

In [106]:
df.Sales.describe()

count    8648.000000
mean       93.183839
std       114.638609
min         0.444000
25%        15.059000
50%        40.832000
75%       124.371000
max       499.990000
Name: Sales, dtype: float64

In [107]:
# Method 2: Replace the outlier data with mean / median / mode 
df = pd.read_csv('train.csv')
df.dropna(inplace=True)

# Computing mean sale value
meanValue = df.Sales.mean()
# Computing mediabn sale value
medianValue = df.Sales.median()
# Computing mode sale value
modeValue = df.Sales.mode()[0]

for index in df.index:
    if df.loc[index,'Sales'] < LT or df.loc[index,'Sales'] > UT:
        # for outlier data, putting mean value for the column
        df.loc[index,'Sales'] = meanValue

df.shape

(9789, 18)

In [108]:
# Method 3:  Removing the rows by drop method
df = pd.read_csv('train.csv')
df.dropna(inplace=True)
for index in df.index:
    if df.loc[index,'Sales'] < LT or df.loc[index,'Sales'] > UT:
        df.drop(index, inplace=True)        
df.shape

(8648, 18)

In [109]:
df.Sales.describe()

count    8648.000000
mean       93.183839
std       114.638609
min         0.444000
25%        15.059000
50%        40.832000
75%       124.371000
max       499.990000
Name: Sales, dtype: float64

### Dupliate Entries Removal

In [110]:
df = pd.read_csv('diabetes.csv')
df.shape

(778, 9)

In [111]:
np.sum(df.duplicated())

10

In [112]:
df.drop_duplicates(inplace=True)

In [113]:
df.shape

(768, 9)

In [114]:
# Assigning the Label name by using index in DataFrame
mydata = { "A" : ["BMW","Porce"], "B" : [4,np.nan] , "C" : [False,True]}
df = pd.DataFrame(mydata,index = ["A","B",])
df

       A    B      C
A    BMW  4.0  False
B  Porce  NaN   True

In [115]:
# Remove the column B from the data frame
df.drop(['B'],axis=1,inplace=True)
df

       A      C
A    BMW  False
B  Porce   True

In [116]:
for index in df.index:
    print(index)

A
B

In [117]:
# Removing the rows from the data
df.drop(['B'],axis=0,inplace=True)
df

     A      C
A  BMW  False

In [118]:
df = pd.read_csv('diabetes.csv')
df.shape

(778, 9)

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 778 entries, 0 to 777
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               778 non-null    int64
 1   Glucose                   778 non-null    int64
 2   BloodPressure             778 non-null    int64
 3   SkinThickness             778 non-null    int64
 4   Insulin                   778 non-null    int64
 5   BMI                       778 non-null    float64
 6   DiabetesPedigreeFunction  778 non-null    float64
 7   Age                       778 non-null    int64
 8   Outcome                   778 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.8 KB

In [121]:
X = df.drop('Outcome',axis=1)
# corr function: 
"""It can work on all numerical data, but usually we compute the correlation matrix between all independent columns of the data.
If you vary one column, the behaviour other columns feature varie."""


# Machine Learning Algorithms =>
# 1. Outcome/Result/Class/Predicted Value ( Dependent Column/ Feature)
# 2. Many Features or Columns are given which plays a role to compute, predict or outcome is depened on those features or colun
X.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Pregnancies,1.000000,0.126413,0.103212,-0.092583,-0.079327,0.021237,-0.042482,0.535992
Glucose,0.126413,1.000000,0.152593,0.052517,0.327243,0.220553,0.141821,0.261926
BloodPressure,0.103212,0.152593,1.000000,0.219434,0.097097,0.263753,0.059749,0.238055
SkinThickness,-0.092583,0.052517,0.219434,1.000000,0.440219,0.387288,0.183450,-0.110328
Insulin,-0.079327,0.327243,0.097097,0.440219,1.000000,0.194596,0.184767,-0.040163
BMI,0.021237,0.220553,0.263753,0.387288,0.194596,1.000000,0.137860,0.033655
DiabetesPedigreeFunction,-0.042482,0.141821,0.059749,0.183450,0.184767,0.137860,1.000000,0.034517
Age,0.535992,0.261926,0.238055,-0.110328,-0.040163,0.033655,0.034517,1.000000

In [123]:
X[['Pregnancies','Insulin','Age']].corr()

             Pregnancies   Insulin       Age
Pregnancies     1.000000 -0.079327  0.535992
Insulin        -0.079327  1.000000 -0.040163
Age             0.535992 -0.040163  1.000000

In [ ]:
Correlation  > 0.6 or more : variables are much correlated
             < -0.6 or more : much diverse in nature...