In [26]:
import pandas as pd

In [27]:
df = pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35.0,0.0,33.6,0.627,50,1
1,1.0,85,66.0,29.0,0.0,26.6,0.351,31,0
2,8.0,183,64.0,0.0,0.0,23.3,0.672,32,1
3,1.0,89,66.0,23.0,94.0,28.1,0.167,21,0
4,0.0,137,40.0,35.0,168.0,43.1,2.288,33,1

In [28]:
#Adding any column in data frame after processing, It will add column in the last by default
#df['SeniorCitizen'] = df.Age > 60

In [29]:
# insert fucntion put new column at any desired index position : 0
#df.insert(8,'SeniorCitizen',df.Age > 60 )

In [30]:
#tell you how many rows and columns are there in the dataframe
df.shape

(768, 9)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               765 non-null    float64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             767 non-null    float64
 3   SkinThickness             767 non-null    float64
 4   Insulin                   767 non-null    float64
 5   BMI                       767 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 54.1 KB

In [32]:
# Describe function only computes and represent statistical about numerical data columns )
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Pregnancies,765.0,3.830065,3.361296,0.000,1.00000,3.0000,6.00000,17.00
Glucose,768.0,120.789062,32.125322,0.000,99.00000,117.0000,140.25000,199.00
BloodPressure,767.0,69.099087,19.367629,0.000,62.00000,72.0000,80.00000,122.00
SkinThickness,767.0,20.563233,15.945349,0.000,0.00000,23.0000,32.00000,99.00
Insulin,767.0,79.603651,115.191267,0.000,0.00000,29.0000,126.50000,846.00
BMI,767.0,31.977836,7.878705,0.000,27.30000,32.0000,36.55000,67.10
DiabetesPedigreeFunction,768.0,0.471876,0.331329,0.078,0.24375,0.3725,0.62625,2.42
Age,768.0,33.240885,11.760232,21.000,24.00000,29.0000,41.00000,81.00
Outcome,768.0,0.348958,0.476951,0.000,0.00000,0.0000,1.00000,1.00

In [35]:
df.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35.0,0.0,33.6,0.627,50,1
1,1.0,85,66.0,29.0,0.0,26.6,0.351,31,0
2,8.0,183,64.0,0.0,0.0,23.3,0.672,32,1
3,1.0,89,66.0,23.0,94.0,28.1,0.167,21,0
4,0.0,137,40.0,35.0,168.0,43.1,2.288,33,1
5,5.0,116,74.0,0.0,0.0,25.6,0.201,30,0
6,NaN,78,50.0,32.0,88.0,31.0,0.248,26,1
7,10.0,34,0.0,0.0,0.0,35.3,0.134,29,0
8,2.0,197,70.0,45.0,543.0,30.5,0.158,53,1
9,8.0,125,96.0,0.0,0.0,0.0,0.232,54,1
10,4.0,110,92.0,0.0,0.0,37.6,0.191,30,0
11,NaN,168,NaN,0.0,0.0,38.0,0.537,34,1
12,NaN,139,80.0,0.0,0.0,27.1,1.441,57,0
13,1.0,189,60.0,23.0,846.0,30.1,0.398,59,1
14,5.0,166,72.0,19.0,175.0,25.8,0.587,51,1
15,7.0,100,0.0,NaN,0.0,30.0,0.484,32,1
16,0.0,118,84.0,47.0,NaN,45.8,0.551,31,1
17,7.0,107,74.0,0.0,0.0,29.6,0.254,31,1
18,1.0,103,30.0,38.0,83.0,NaN,0.183,33,0
19,1.0,115,70.0,30.0,96.0,34.6,0.529,32,1

### Data Cleaning

# Data set is small, removing rows doesn't makes sense
700
100 (14% percent null, missing value multiples)
#We will filll the values at missing columns (Exploratory Data Anaylysis)

In [39]:
# dropna function remove the rows which consisit empty values at certains column and delete those rows, creates new data frame and return
ndf = df.dropna()

In [40]:
df.shape

(768, 9)

In [41]:
ndf.shape

(762, 9)

In [44]:
# If inplace=True is given, it will process dropna operation of self
df.dropna(inplace=True)

In [45]:
df.shape

(762, 9)

### Refill the data for empty values

In [46]:
df = pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35.0,0.0,33.6,0.627,50,1
1,1.0,85,66.0,29.0,0.0,26.6,0.351,31,0
2,8.0,183,64.0,0.0,0.0,23.3,0.672,32,1
3,1.0,89,66.0,23.0,94.0,28.1,0.167,21,0
4,0.0,137,40.0,35.0,168.0,43.1,2.288,33,1

In [47]:
df.fillna(

(762, 9)

In [48]:
df.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35.0,0.0,33.6,0.627,50,1
1,1.0,85,66.0,29.0,0.0,26.6,0.351,31,0
2,8.0,183,64.0,0.0,0.0,23.3,0.672,32,1
3,1.0,89,66.0,23.0,94.0,28.1,0.167,21,0
4,0.0,137,40.0,35.0,168.0,43.1,2.288,33,1
5,5.0,116,74.0,0.0,0.0,25.6,0.201,30,0
6,NaN,78,50.0,32.0,88.0,31.0,0.248,26,1
7,10.0,34,0.0,0.0,0.0,35.3,0.134,29,0
8,2.0,197,70.0,45.0,543.0,30.5,0.158,53,1
9,8.0,125,96.0,0.0,0.0,0.0,0.232,54,1
10,4.0,110,92.0,0.0,0.0,37.6,0.191,30,0
11,NaN,168,NaN,0.0,0.0,38.0,0.537,34,1
12,NaN,139,80.0,0.0,0.0,27.1,1.441,57,0
13,1.0,189,60.0,23.0,846.0,30.1,0.398,59,1
14,5.0,166,72.0,19.0,175.0,25.8,0.587,51,1
15,7.0,100,0.0,NaN,0.0,30.0,0.484,32,1
16,0.0,118,84.0,47.0,NaN,45.8,0.551,31,1
17,7.0,107,74.0,0.0,0.0,29.6,0.254,31,1
18,1.0,103,30.0,38.0,83.0,NaN,0.183,33,0
19,1.0,115,70.0,30.0,96.0,34.6,0.529,32,1

In [49]:
df.describe()['Pregnancies']

count    765.000000
mean       3.830065
std        3.361296
min        0.000000
25%        1.000000
50%        3.000000
75%        6.000000
max       17.000000
Name: Pregnancies, dtype: float64

In [50]:
df.describe()['BloodPressure']

count    767.000000
mean      69.099087
std       19.367629
min        0.000000
25%       62.000000
50%       72.000000
75%       80.000000
max      122.000000
Name: BloodPressure, dtype: float64

In [51]:
# Substituting the fillna all NaN in full data frame
df.fillna(110,inplace=True)

In [53]:
df.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35.0,0.0,33.6,0.627,50,1
1,1.0,85,66.0,29.0,0.0,26.6,0.351,31,0
2,8.0,183,64.0,0.0,0.0,23.3,0.672,32,1
3,1.0,89,66.0,23.0,94.0,28.1,0.167,21,0
4,0.0,137,40.0,35.0,168.0,43.1,2.288,33,1
5,5.0,116,74.0,0.0,0.0,25.6,0.201,30,0
6,110.0,78,50.0,32.0,88.0,31.0,0.248,26,1
7,10.0,34,0.0,0.0,0.0,35.3,0.134,29,0
8,2.0,197,70.0,45.0,543.0,30.5,0.158,53,1
9,8.0,125,96.0,0.0,0.0,0.0,0.232,54,1
10,4.0,110,92.0,0.0,0.0,37.6,0.191,30,0
11,110.0,168,110.0,0.0,0.0,38.0,0.537,34,1
12,110.0,139,80.0,0.0,0.0,27.1,1.441,57,0
13,1.0,189,60.0,23.0,846.0,30.1,0.398,59,1
14,5.0,166,72.0,19.0,175.0,25.8,0.587,51,1
15,7.0,100,0.0,110.0,0.0,30.0,0.484,32,1
16,0.0,118,84.0,47.0,110.0,45.8,0.551,31,1
17,7.0,107,74.0,0.0,0.0,29.6,0.254,31,1
18,1.0,103,30.0,38.0,83.0,110.0,0.183,33,0
19,1.0,115,70.0,30.0,96.0,34.6,0.529,32,1

In [84]:
df = pd.read_csv('diabetes.csv')
df.head()
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Pregnancies,765.0,3.830065,3.361296,0.000,1.00000,3.0000,6.00000,17.00
Glucose,768.0,120.789062,32.125322,0.000,99.00000,117.0000,140.25000,199.00
BloodPressure,767.0,69.099087,19.367629,0.000,62.00000,72.0000,80.00000,122.00
SkinThickness,767.0,20.563233,15.945349,0.000,0.00000,23.0000,32.00000,99.00
Insulin,767.0,79.603651,115.191267,0.000,0.00000,29.0000,126.50000,846.00
BMI,767.0,31.977836,7.878705,0.000,27.30000,32.0000,36.55000,67.10
DiabetesPedigreeFunction,768.0,0.471876,0.331329,0.078,0.24375,0.3725,0.62625,2.42
Age,768.0,33.240885,11.760232,21.000,24.00000,29.0000,41.00000,81.00
Outcome,768.0,0.348958,0.476951,0.000,0.00000,0.0000,1.00000,1.00

In [85]:
import math
df.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35.0,0.0,33.6,0.627,50,1
1,1.0,85,66.0,29.0,0.0,26.6,0.351,31,0
2,8.0,183,64.0,0.0,0.0,23.3,0.672,32,1
3,1.0,89,66.0,23.0,94.0,28.1,0.167,21,0
4,0.0,137,40.0,35.0,168.0,43.1,2.288,33,1
5,5.0,116,74.0,0.0,0.0,25.6,0.201,30,0
6,NaN,78,50.0,32.0,88.0,31.0,0.248,26,1
7,10.0,34,0.0,0.0,0.0,35.3,0.134,29,0
8,2.0,197,70.0,45.0,543.0,30.5,0.158,53,1
9,8.0,125,96.0,0.0,0.0,0.0,0.232,54,1
10,4.0,110,92.0,0.0,0.0,37.6,0.191,30,0
11,NaN,168,NaN,0.0,0.0,38.0,0.537,34,1
12,NaN,139,80.0,0.0,0.0,27.1,1.441,57,0
13,1.0,189,60.0,23.0,846.0,30.1,0.398,59,1
14,5.0,166,72.0,19.0,175.0,25.8,0.587,51,1
15,7.0,100,0.0,NaN,0.0,30.0,0.484,32,1
16,0.0,118,84.0,47.0,NaN,45.8,0.551,31,1
17,7.0,107,74.0,0.0,0.0,29.6,0.254,31,1
18,1.0,103,30.0,38.0,83.0,NaN,0.183,33,0
19,1.0,115,70.0,30.0,96.0,34.6,0.529,32,1

In [94]:
# Filling NA values in Pregnancies Column with Integer mean values 
df.Pregnancies.fillna(math.ceil(df.Pregnancies.mean()),inplace=True)
# Filling NA value with mean value of Blood Pressure
df.BloodPressure.fillna(df.BloodPressure.mode()[0],inplace=True)
# Filling NA value with mean value of Blood Pressure
df.SkinThickness.fillna(df.SkinThickness.median(),inplace=True)
# Filling NA value with mean value of Blood Pressure
df.Insulin.fillna(df.Insulin.mean(),inplace=True)
# Filling NA value with mean value of Blood Pressure
df.BMI.fillna(df.BMI.mean(),inplace=True)

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    float64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    float64
 3   SkinThickness             768 non-null    float64
 4   Insulin                   768 non-null    float64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 54.1 KB

In [96]:
#help(df.fillna)

In [97]:
df.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35.0,0.000000,33.600000,0.627,50,1
1,1.0,85,66.0,29.0,0.000000,26.600000,0.351,31,0
2,8.0,183,64.0,0.0,0.000000,23.300000,0.672,32,1
3,1.0,89,66.0,23.0,94.000000,28.100000,0.167,21,0
4,0.0,137,40.0,35.0,168.000000,43.100000,2.288,33,1
5,5.0,116,74.0,0.0,0.000000,25.600000,0.201,30,0
6,4.0,78,50.0,32.0,88.000000,31.000000,0.248,26,1
7,10.0,34,0.0,0.0,0.000000,35.300000,0.134,29,0
8,2.0,197,70.0,45.0,543.000000,30.500000,0.158,53,1
9,8.0,125,96.0,0.0,0.000000,0.000000,0.232,54,1
10,4.0,110,92.0,0.0,0.000000,37.600000,0.191,30,0
11,4.0,168,70.0,0.0,0.000000,38.000000,0.537,34,1
12,4.0,139,80.0,0.0,0.000000,27.100000,1.441,57,0
13,1.0,189,60.0,23.0,846.000000,30.100000,0.398,59,1
14,5.0,166,72.0,19.0,175.000000,25.800000,0.587,51,1
15,7.0,100,0.0,23.0,0.000000,30.000000,0.484,32,1
16,0.0,118,84.0,47.0,79.603651,45.800000,0.551,31,1
17,7.0,107,74.0,0.0,0.000000,29.600000,0.254,31,1
18,1.0,103,30.0,38.0,83.000000,31.977836,0.183,33,0
19,1.0,115,70.0,30.0,96.000000,34.600000,0.529,32,1

In [101]:
print(f'Mean value of Blood Pressure : {df.BloodPressure.mean()}')
print(f'Median value of Blood Pressure : {df.BloodPressure.median()}')
print(f'Mode value of Blood Pressure : {df.BloodPressure.mode()[0]}')

Mean value of Blood Pressure : 69.10026041666667
Median value of Blood Pressure : 72.0
Mode value of Blood Pressure : 70.0

In [103]:
#type(df.BloodPressure.mode())

In [77]:
def computeMyOwnMedian(column):
    pass

In [ ]:
value = computeMyOwnMedian(df.BloodPressure)
df.BloodPressure.fillna(value,inplace=True)

In [145]:
df = pd.read_csv('diabetes.csv')
df.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72.0,35,0.0,33.6,0.627,50,1
1,1,85,66.0,29,0.0,26.6,0.351,31,0
2,8,183,64.0,0,0.0,23.3,0.672,32,1
3,1,89,66.0,23,94.0,28.1,0.167,21,0
4,0,137,40.0,35,168.0,43.1,2.288,33,1
5,5,116,74.0,0,0.0,25.6,0.201,30,0
6,NaN,78,50.0,32,88.0,31.0,0.248,26,1
7,10,34,0.0,0,0.0,35.3,0.134,29,0
8,2,197,70.0,45,543.0,30.5,0.158,53,1
9,8,125,96.0,0,0.0,0.0,0.232,54,1
10,N,110,92.0,0,0.0,37.6,0.191,30,0
11,NaN,168,NaN,0,0.0,38.0,0.537,34,1
12,NaN,139,80.0,0,0.0,27.1,1.441,57,0
13,1,189,60.0,23,846.0,30.1,0.398,59,1
14,5,166,72.0,19,175.0,25.8,0.587,51,1
15,7,100,0.0,T,0.0,30.0,0.484,32,1
16,0,118,84.0,47,NaN,45.8,0.551,31,1
17,7,107,74.0,0,0.0,29.6,0.254,31,1
18,1,103,30.0,38,83.0,NaN,0.183,33,0
19,1,115,70.0,30,96.0,34.6,0.529,32,1

In [159]:
df.dropna(inplace=True)
df.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35,0.0,33.6,0.627,50,1
1,1.0,85,66.0,29,0.0,26.6,0.351,31,0
2,8.0,183,64.0,0,0.0,23.3,0.672,32,1
3,1.0,89,66.0,23,94.0,28.1,0.167,21,0
4,0.0,137,40.0,35,168.0,43.1,2.288,33,1
5,5.0,116,74.0,0,0.0,25.6,0.201,30,0
7,10.0,34,0.0,0,0.0,35.3,0.134,29,0
8,2.0,197,70.0,45,543.0,30.5,0.158,53,1
9,8.0,125,96.0,0,0.0,0.0,0.232,54,1
10,7.0,110,92.0,0,0.0,37.6,0.191,30,0
13,1.0,189,60.0,23,846.0,30.1,0.398,59,1
14,5.0,166,72.0,19,175.0,25.8,0.587,51,1
15,7.0,100,0.0,T,0.0,30.0,0.484,32,1
17,7.0,107,74.0,0,0.0,29.6,0.254,31,1
19,1.0,115,70.0,30,96.0,34.6,0.529,32,1
20,3.0,126,88.0,41,235.0,39.3,0.704,27,0
21,8.0,99,84.0,0,0.0,35.4,0.388,50,0
22,7.0,196,90.0,0,0.0,39.8,0.451,41,1
23,9.0,119,80.0,35,0.0,29.0,0.263,29,1
24,11.0,143,94.0,33,146.0,36.6,0.254,51,1

In [160]:
# correcting the wrong entry in dataframe
df.loc[10,'Pregnancies'] = 7

In [161]:
import numpy as np
df['Pregnancies'] = df['Pregnancies'].astype(float)

In [162]:
print(df.dtypes)

Pregnancies                 float64
Glucose                       int64
BloodPressure               float64
SkinThickness                object
Insulin                     float64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [163]:
df.Pregnancies.mean()

3.842726081258191

In [164]:
df.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72.0,35,0.0,33.6,0.627,50,1
1,1.0,85,66.0,29,0.0,26.6,0.351,31,0
2,8.0,183,64.0,0,0.0,23.3,0.672,32,1
3,1.0,89,66.0,23,94.0,28.1,0.167,21,0
4,0.0,137,40.0,35,168.0,43.1,2.288,33,1
5,5.0,116,74.0,0,0.0,25.6,0.201,30,0
7,10.0,34,0.0,0,0.0,35.3,0.134,29,0
8,2.0,197,70.0,45,543.0,30.5,0.158,53,1
9,8.0,125,96.0,0,0.0,0.0,0.232,54,1
10,7.0,110,92.0,0,0.0,37.6,0.191,30,0
13,1.0,189,60.0,23,846.0,30.1,0.398,59,1
14,5.0,166,72.0,19,175.0,25.8,0.587,51,1
15,7.0,100,0.0,T,0.0,30.0,0.484,32,1
17,7.0,107,74.0,0,0.0,29.6,0.254,31,1
19,1.0,115,70.0,30,96.0,34.6,0.529,32,1
20,3.0,126,88.0,41,235.0,39.3,0.704,27,0
21,8.0,99,84.0,0,0.0,35.4,0.388,50,0
22,7.0,196,90.0,0,0.0,39.8,0.451,41,1
23,9.0,119,80.0,35,0.0,29.0,0.263,29,1
24,11.0,143,94.0,33,146.0,36.6,0.254,51,1

In [165]:
df.loc[15,'SkinThickness'] = 0

In [167]:
df.SkinThickness = df.SkinThickness.astype(float)
df.SkinThickness.mean()

20.517693315858452

In [170]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Pregnancies,763.0,3.842726,3.363211,0.000,1.0000,3.000,6.0000,17.00
Glucose,763.0,120.786370,32.134400,0.000,99.0000,117.000,140.5000,199.00
BloodPressure,763.0,69.141547,19.342700,0.000,63.0000,72.000,80.0000,122.00
SkinThickness,763.0,20.517693,15.923064,0.000,0.0000,23.000,32.0000,99.00
Insulin,763.0,79.796855,115.420557,0.000,0.0000,29.000,127.5000,846.00
BMI,763.0,31.959502,7.878370,0.000,27.3000,32.000,36.5000,67.10
DiabetesPedigreeFunction,763.0,0.471089,0.330268,0.078,0.2435,0.371,0.6265,2.42
Age,763.0,33.221494,11.764061,21.000,24.0000,29.000,41.0000,81.00
Outcome,763.0,0.347313,0.476429,0.000,0.0000,0.000,1.0000,1.00

In [ ]:
Exploratory Data Analysis : Outlier in the data 
Range : 
Q1 : 25% Quartile Range
Q2 : 50% Quartile Range
Q3 : 75% Quartile Range
Lowest Threshold for Outlier on left side : Q1 - 1.5 * IQR
Upper Threshold for Outlier on right side : Q3 + 1.5 * IQR
IQR =  Q3-Q1

0 ....25,,,,,,,,,,,,50,,,,,,,,75,,,,,,,100

In [175]:
Q1 = df.describe()['Pregnancies'].loc['25%']
Q3 = df.describe()['Pregnancies'].loc['75%']
IQR = Q3-Q1
LT = Q1 - 1.5*IQR
UT = Q3 + 1.5*IQR

In [177]:
UT

13.5

In [181]:
np.sum(df.Pregnancies > UT)

4

In [182]:
Q1 = df.describe()['BloodPressure'].loc['25%']
Q3 = df.describe()['BloodPressure'].loc['75%']
IQR = Q3-Q1
LT = Q1 - 1.5*IQR
UT = Q3 + 1.5*IQR

In [184]:
np.sum(df.BloodPressure < LT)

37

In [186]:
np.sum(df.BloodPressure > UT)

10