- DataFrame: (TABLE) Features (ROWS, COLUMNS)
   - Access Column (Series) i.e df[ColumnName] or df.ColumnName
   - Access Row (Labels) i.e df.loc[1] or df.iloc[1] or df.loc[[1,3,5,]]

- Series: (COLUMN Data)
  - Create the Series Data from Dictionary and index
  - Create the series data from list
  - Accessing and Modify the Series data from loc and iloc
  - Able to create a numpy array from Series data by calling  np.asarray function
  - Able to add two series data by using add function and fill_value as 0 for NaN values
- CSV File Reading, CUSTOM File reading
  - specify that first row is not heading of dataframe header=None
  - specify the specific type of seperator by assigning sep="|", "\t"
  - specify our custom heading for the dataframe by specifying names as list
  - head function : list first 5 rows of the dataframe
  - tail function : list last 5 rows of the dataframe
  - print the full dataframe : df.to_string method calling
  - info function:
  - describe function:

In [1]:
print(dir())

['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__session__', '__spec__', '_dh', '_i', '_i1', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'open', 'quit']

In [2]:
import pandas as pd
import numpy as np

#### **DataFrame:**

In [3]:
#help(pd.DataFrame)

In [4]:
# dictionary
mydata = { "Car" : ["BMW","Porce", "M&M"], "Rating" : [4,np.nan,6] , "AirLock" : [False,True,False]}
df = pd.DataFrame(mydata)
#print(df)
df

     Car  Rating  AirLock
0    BMW     4.0    False
1  Porce     NaN     True
2    M&M     6.0    False

In [5]:
mydata = { "Student" : ["Inam","Hari", "Yassar"], "LastName" : ["A", "B","C"] , "Marks" : [89,88,70],"Attendance" : [True,False,True]}
df = pd.DataFrame(mydata)
df

  Student LastName  Marks  Attendance
0    Inam        A     89        True
1    Hari        B     88       False
2  Yassar        C     70        True

In [6]:
l= [1,2,34,5,6,7,8,19]
df = pd.DataFrame(l)
print(df)
print(f'First Column Details in Panda DataFrame : {type(df[0])}')

    0
0   1
1   2
2  34
3   5
4   6
5   7
6   8
7  19
First Column Details in Panda DataFrame : <class 'pandas.core.series.Series'>

In [7]:
L = [[12,3,4,5],[4,5,3,3]]
df = pd.DataFrame(L)
print(df)
print(f'First Column Details in Panda DataFrame : {type(df[0])}')
print(f'First Column Details in Panda DataFrame : {type(df[1])}')
print(f'First Column Details in Panda DataFrame : {type(df[2])}')
print(f'First Column Details in Panda DataFrame : {type(df[3])}')

    0  1  2  3
0  12  3  4  5
1   4  5  3  3
First Column Details in Panda DataFrame : <class 'pandas.core.series.Series'>
First Column Details in Panda DataFrame : <class 'pandas.core.series.Series'>
First Column Details in Panda DataFrame : <class 'pandas.core.series.Series'>
First Column Details in Panda DataFrame : <class 'pandas.core.series.Series'>

In [8]:
df.loc[0]

0    12
1     3
2     4
3     5
Name: 0, dtype: int64

In [9]:
df[0]

0    12
1     4
Name: 0, dtype: int64

In [10]:
# dictionary
mydata = { "Car" : ["BMW","Porce", "M&M"], "Rating" : [4,np.nan,6] , "AirLock" : [False,True,False]}
df = pd.DataFrame(mydata)
#print(df)
df

     Car  Rating  AirLock
0    BMW     4.0    False
1  Porce     NaN     True
2    M&M     6.0    False

In [11]:
df.Car

0      BMW
1    Porce
2      M&M
Name: Car, dtype: object

In [12]:
df['Car']

0      BMW
1    Porce
2      M&M
Name: Car, dtype: object

In [13]:
df.AirLock

0    False
1     True
2    False
Name: AirLock, dtype: bool

In [14]:
df['AirLock']

0    False
1     True
2    False
Name: AirLock, dtype: bool

In [15]:
df.Rating

0    4.0
1    NaN
2    6.0
Name: Rating, dtype: float64

In [16]:
df['Rating']

0    4.0
1    NaN
2    6.0
Name: Rating, dtype: float64

In [17]:
print(f'Object of Class : {type(df)}')

Object of Class : <class 'pandas.core.frame.DataFrame'>

#### **Panda Data Labels**

In [18]:
# dictionary
mydata = { "Car" : ["BMW","Porce", "M&M"], "Rating" : [4,np.nan,6] , "AirLock" : [False,True,False]}
df = pd.DataFrame(mydata)
df

     Car  Rating  AirLock
0    BMW     4.0    False
1  Porce     NaN     True
2    M&M     6.0    False

In [19]:
# .loc and .iloc both works to access the row in panda dataframe in integer wise always
#help(df.loc)
#help(df.iloc)

In [20]:
df.iloc[0]

Car          BMW
Rating       4.0
AirLock    False
Name: 0, dtype: object

In [21]:
df.loc[0]

Car          BMW
Rating       4.0
AirLock    False
Name: 0, dtype: object

In [22]:
# Assigning the Label name by using index in DataFrame
mydata = { "Car" : ["BMW","Porce"], "Rating" : [4,np.nan] , "AirLock" : [False,True]}
df = pd.DataFrame(mydata,index = ["A","B",])
df

     Car  Rating  AirLock
A    BMW     4.0    False
B  Porce     NaN     True

In [23]:
# .loc  works to access the row in panda dataframe in label wise if given
df.loc['A']

Car          BMW
Rating       4.0
AirLock    False
Name: A, dtype: object

In [24]:
# Assigning the Label name by using index in DataFrame
mydata = { "Car" : ["BMW","Porce", "M&M"], "Rating" : [4,np.nan,6] , "AirLock" : [False,True,False]}
df = pd.DataFrame(mydata,index = [5,9,11])
df

      Car  Rating  AirLock
5     BMW     4.0    False
9   Porce     NaN     True
11    M&M     6.0    False

In [25]:
#np.asarray(df)

In [26]:
df.loc[5]

Car          BMW
Rating       4.0
AirLock    False
Name: 5, dtype: object

In [27]:
df.loc[9]

Car        Porce
Rating       NaN
AirLock     True
Name: 9, dtype: object

In [28]:
df.loc[11]

Car          M&M
Rating       6.0
AirLock    False
Name: 11, dtype: object

In [29]:
#df.loc[6]

In [30]:
# want to access more than 1 row
df.loc[[9,11]]

      Car  Rating  AirLock
9   Porce     NaN     True
11    M&M     6.0    False

#### **Series**:

In [31]:
#help(pd.Series)

In [32]:
# creating a Panda Data Series by Dictionary
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d, index=['a', 'b', 'c',])
ser

a    1
b    2
c    3
dtype: int64

In [33]:
# creating a Panda Data Series by Dictionary
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d, index=['x', 'y', 'z','b'])
ser

x    NaN
y    NaN
z    NaN
b    2.0
dtype: float64

In [34]:
# Creating the Panda Data Series from List: It always copy the data from the list
r = [1, 2]
# Making Copy=True, copy=False doesn't change anything
ser = pd.Series(r,copy=True)
# Modify the data in series
ser.loc[0] = 34
ser.iloc[1] = 25
print(r)
print(ser)

[1, 2]
0    34
1    25
dtype: int64

In [35]:
#Accessing the Data from series by iloc
ser.iloc[0]

34

In [36]:
#Accessing the Data from series by loc
ser.loc[0]

34

In [37]:
# Modify the data in series
ser.loc[0] = 34
ser.iloc[1] = 25
print(r)
print(ser)

[1, 2]
0    34
1    25
dtype: int64

In [38]:
# Creating the Panda Data Series from numpy array:
r = np.array([1, 2]) 
# it will not modify the numpy array because you made copy = True
# it will modify the numpy array because you made copy = False
ser = pd.Series(r,copy=True)
ser.loc[0] = 34
ser.iloc[1] = 25
print(r)
print(ser)

[1 2]
0    34
1    25
dtype: int64

In [39]:
### Numpy Function to create from Panda data Series to numpy array
# asarray
np.asarray(ser)

array([34, 25])

In [40]:
a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
print(a)
print(b)

a    1.0
b    1.0
c    1.0
d    NaN
dtype: float64
a    1.0
b    NaN
d    1.0
e    NaN
dtype: float64

In [41]:
#help(a.add)
a.add(b)

a    2.0
b    NaN
c    NaN
d    NaN
e    NaN
dtype: float64

In [42]:
#help(a.add)
a.add(b,fill_value=11.5)

a     2.0
b    12.5
c    12.5
d    12.5
e     NaN
dtype: float64

In [43]:
# Create Series from Dictionary full data
mydata = { "Car" : ["BMW","Porce", "M&M"], "Rating" : [4,np.nan,6] , "AirLock" : [False,True,False]}
ser = pd.Series(mydata)
ser

Car           [BMW, Porce, M&M]
Rating              [4, nan, 6]
AirLock    [False, True, False]
dtype: object

In [44]:
L = [ i for i in range(50,100) ]
s = pd.Series(L)
s

0     50
1     51
2     52
3     53
4     54
5     55
6     56
7     57
8     58
9     59
10    60
11    61
12    62
13    63
14    64
15    65
16    66
17    67
18    68
19    69
20    70
21    71
22    72
23    73
24    74
25    75
26    76
27    77
28    78
29    79
30    80
31    81
32    82
33    83
34    84
35    85
36    86
37    87
38    88
39    89
40    90
41    91
42    92
43    93
44    94
45    95
46    96
47    97
48    98
49    99
dtype: int64

In [45]:
ser.loc['Car'][1:]

['Porce', 'M&M']

In [46]:
# Create Series from for selected keys in Dictionary
mydata = { "Car" : ["BMW","Porce", "M&M"], "Rating" : [4,np.nan,6] , "AirLock" : [False,True,False]}
ser = pd.Series(mydata,index=['Car','AirLock'])
ser

Car           [BMW, Porce, M&M]
AirLock    [False, True, False]
dtype: object

In [47]:
#### **Read CSV Files:**

In [48]:
#help(pd.read_csv)

In [53]:
import os
if not os.path.exists('diabetes.csv'):
    print('diabetes.csv file is not found!')

In [54]:
# Whenever you read any file or data from anywhere always use head to check the content of file read
try:
    df = pd.read_csv('diabetes.csv')
    # Windows PATH
    #df = pd.read_csv("C:/Users/USERNAME/Desktop/diabetes.csv")
    
    #Mac Example
    #df = pd.read_csv('/Users/sanjayk/Dropbox/Work/Careerera/ipynb/diabetes.csv')

except:
    print(f'diabetes.csv file is not in current working directory')
    df = None

In [58]:
# head function:  by default it display the first 5 rows, but we can pass an integer value
#to display more lines
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72,35,0,33.6,0.627,50,1
1,1.0,85,66,29,0,26.6,0.351,31,0
2,8.0,183,64,0,0,23.3,0.672,32,1
3,1.0,89,66,23,94,28.1,0.167,21,0
4,0.0,137,40,35,168,43.1,2.288,33,1

In [59]:
# head function:  by default it display the first 5 rows, but we can pass integer value
#to display more lines
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72,35,0,33.6,0.627,50,1
1,1.0,85,66,29,0,26.6,0.351,31,0
2,8.0,183,64,0,0,23.3,0.672,32,1
3,1.0,89,66,23,94,28.1,0.167,21,0
4,0.0,137,40,35,168,43.1,2.288,33,1
5,5.0,116,74,0,0,25.6,0.201,30,0
6,NaN,78,50,32,88,31.0,0.248,26,1
7,10.0,34,0,0,0,35.3,0.134,29,0
8,2.0,197,70,45,543,30.5,0.158,53,1
9,8.0,125,96,0,0,0.0,0.232,54,1

In [60]:
# tail function: by default display the last five rows
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10.0,101,76,48,180,32.9,0.171,63,0
764,2.0,122,70,27,0,36.8,0.340,27,0
765,5.0,121,72,23,112,26.2,0.245,30,0
766,1.0,126,60,0,0,30.1,0.349,47,1
767,1.0,93,70,31,0,30.4,0.315,23,0

In [61]:
# tail function: by default display the last five rows
df.tail(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
758,1.0,106,76,0,0,37.5,0.197,26,0
759,6.0,190,92,0,0,35.5,0.278,66,1
760,2.0,88,58,26,16,28.4,0.766,22,0
761,9.0,170,74,31,0,44.0,0.403,43,1
762,9.0,89,62,0,0,22.5,0.142,33,0
763,10.0,101,76,48,180,32.9,0.171,63,0
764,2.0,122,70,27,0,36.8,0.340,27,0
765,5.0,121,72,23,112,26.2,0.245,30,0
766,1.0,126,60,0,0,30.1,0.349,47,1
767,1.0,93,70,31,0,30.4,0.315,23,0

In [62]:
# What is shape of your data
df.shape

(768, 9)

In [68]:
#Panda Series Data
df.BMI

0      33.6
1      26.6
2      23.3
3      28.1
4      43.1
       ...
763    32.9
764    36.8
765    26.2
766    30.1
767    30.4
Name: BMI, Length: 768, dtype: float64

In [69]:
df['BMI']

0      33.6
1      26.6
2      23.3
3      28.1
4      43.1
       ...
763    32.9
764    36.8
765    26.2
766    30.1
767    30.4
Name: BMI, Length: 768, dtype: float64

In [70]:
# How to access the 764 index row number in Panda Data frame?
df.loc[764]

Pregnancies                   2.00
Glucose                     122.00
BloodPressure                70.00
SkinThickness                27.00
Insulin                       0.00
BMI                          36.80
DiabetesPedigreeFunction      0.34
Age                          27.00
Outcome                       0.00
Name: 764, dtype: float64

In [71]:
df.iloc[764]

Pregnancies                   2.00
Glucose                     122.00
BloodPressure                70.00
SkinThickness                27.00
Insulin                       0.00
BMI                          36.80
DiabetesPedigreeFunction      0.34
Age                          27.00
Outcome                       0.00
Name: 764, dtype: float64

In [72]:
# If you print the dataframe object, it only prints the first five rows
#and last five rows of dataframe for all column
print(df)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0            6.0      148             72             35        0  33.6
1            1.0       85             66             29        0  26.6
2            8.0      183             64              0        0  23.3
3            1.0       89             66             23       94  28.1
4            0.0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763         10.0      101             76             48      180  32.9
764          2.0      122             70             27        0  36.8
765          5.0      121             72             23      112  26.2
766          1.0      126             60              0        0  30.1
767          1.0       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]

In [ ]:
# use to_string method on dataframe to get full data
#print(df.to_string())

In [86]:
# Whenever you read any file or data from anywhere always use head to check the content of file read
# header = None : To specify that our file line of text file is not heading of the data
# My seperator in the file is not comma, but it is |
df = pd.read_csv('mydata.txt',sep='|',header=None ,names=["Name","Age","Surname","Race"])
df.head()

      Name  Age Surname      Race
0   sanjay   45       K     Asian
1     Hari   25       K  American
2  Yassaar   35       K   Russian
3     ABCD   45       K     Asian

In [84]:
#help(pd.read_csv)

In [89]:
df = pd.read_csv('mydata.txt',sep='|',header=None,names=["FirstName","Age","SurName","Race"])
df.head()

  FirstName  Age SurName      Race
0    sanjay   45       K     Asian
1      Hari   25       K  American
2   Yassaar   35       K   Russian
3      ABCD   45       K     Asian

#### Info function:

In [90]:
df = pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72,35,0,33.6,0.627,50,1
1,1.0,85,66,29,0,26.6,0.351,31,0
2,8.0,183,64,0,0,23.3,0.672,32,1
3,1.0,89,66,23,94,28.1,0.167,21,0
4,0.0,137,40,35,168,43.1,2.288,33,1

In [91]:
# Info function return the full detailed information about dataframe
# Specify each column, number of enteries which is not null, and data type
# Specify the kind of datatypes you have used in the dataframes
# How much memory this dataframe object is taking in RAM
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               767 non-null    float64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(3), int64(6)
memory usage: 54.1 KB

In [98]:
# Stats Function
# Specify the count, mean, standard derivation, min, 25% Quartile, 
#50% Quartile, 75% Quartile, and Maximum value for all columns in data frame
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,767.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.846154,120.789062,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.371638,32.125322,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [96]:
# Transpose of the describe function output
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Pregnancies,767.0,3.846154,3.371638,0.000,1.00000,3.0000,6.00000,17.00
Glucose,768.0,120.789062,32.125322,0.000,99.00000,117.0000,140.25000,199.00
BloodPressure,768.0,69.105469,19.355807,0.000,62.00000,72.0000,80.00000,122.00
SkinThickness,768.0,20.536458,15.952218,0.000,0.00000,23.0000,32.00000,99.00
Insulin,768.0,79.799479,115.244002,0.000,0.00000,30.5000,127.25000,846.00
BMI,768.0,31.992578,7.884160,0.000,27.30000,32.0000,36.60000,67.10
DiabetesPedigreeFunction,768.0,0.471876,0.331329,0.078,0.24375,0.3725,0.62625,2.42
Age,768.0,33.240885,11.760232,21.000,24.00000,29.0000,41.00000,81.00
Outcome,768.0,0.348958,0.476951,0.000,0.00000,0.0000,1.00000,1.00