In [1]:
!pip3 install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in /Users/sanjayk/Library/Python/3.9/lib/python/site-packages (8.3.0)

In [3]:
import mysql.connector

In [4]:
conn = mysql.connector.connect(host="localhost",user="sanjayk",password="123456")

In [7]:
mycursor = conn.cursor()

In [8]:
mycursor.execute('use CareereraDB;')

In [9]:
mycursor.execute('Select * from students;')
for row in mycursor:
    print(row)

(100, 'Swathi Reddy', 'Female', 'sbendram@aum.edu', '123456', None, 1, 21)
(101, 'Shiva Reddy', 'Male', 'shiva@aum.edu', '12345', None, 0, 23)
(102, 'Sri Ram', 'Male', 'sri@aum.edu', '12345', None, 1, 24)
(103, 'Rekha Reddy', 'Female', 'rekha@aum.edu', '12345', None, 0, 23)
(104, 'Saiteja Reddy', 'Male', 'saiteja@aum.edu', '12345', None, 1, 25)
(105, 'Srinu Karra', 'Male', 'karra@aum.edu', '12345', datetime.datetime(2010, 9, 21, 0, 0), 0, 23)
(106, 'Jennifer Thomas', 'Female', 'jenne@aum.edu', '12345', datetime.datetime(2009, 10, 23, 0, 0), 1, 25)
(107, 'Lisa David', 'Female', 'lisa@aum.edu', '12345', datetime.datetime(2006, 2, 2, 0, 0), 1, 26)
(108, 'John William', 'Male', 'john@aum.edu', '12345', datetime.datetime(2007, 10, 23, 0, 0), 0, 23)

In [10]:
mycursor.execute('Select * from courses;')
for row in mycursor:
    print(row)

('CSCI 200', 'C++ Programming', 4, 'FALL', 'GH-201', 'MON 8:00 AM')
('CSCI 201', 'Frontend Web Development', 2, 'FALL', 'GH-202', 'TUE 1:00 PM')
('CSCI 202', 'Computer Architechture', 1, 'FALL', 'GH-203', 'WED 9:00 AM')
('CSCI 203', 'Data Stuctures', 4, 'FALL', 'GH-204', 'Thu 10:00 AM')
('CSCI 204', 'Algorithms', 4, 'FAll', 'GH-205', 'Tue 8:00 AM')
('CSCI 205', 'Python Programming', 6, 'FALL', 'GH-206', 'Fri 8:00 AM')
('CSCI 300', 'Advanced C++ Programming', 4, 'FALL', 'GH-202', 'TUE 8:00 AM')

In [12]:
mycursor.execute('Select * from instructors;')
for row in mycursor:
    print(row)

(1, 'Lee Wu', 'Male', 'lee@aum.edu', '12345', datetime.datetime(1984, 9, 12, 0, 0))
(2, 'Zimin Gao', 'Male', 'kelvin@aum.edu', '12345', datetime.datetime(1987, 8, 1, 0, 0))
(3, 'Kennedy Smith', 'Female', 'kennedy@aum.edu', '12345', datetime.datetime(1967, 2, 19, 0, 0))
(4, 'S Dinc', 'Male', 'dinc@aum.edu', '12345', datetime.datetime(1999, 1, 23, 0, 0))
(5, 'Bellinda Casamir', 'Female', 'bellinda@aum.edu', '123456', datetime.datetime(1989, 1, 1, 0, 0))
(6, 'Hua Yan', 'Female', 'sophia@aum.com', '123456', datetime.datetime(1994, 1, 4, 0, 0))
(7, 'Jason clutchfield', 'Male', 'jason@aum.edu', '12345', datetime.datetime(1996, 1, 3, 0, 0))
(8, 'Dena Irvin', 'Female', 'dena@aum.edu', '12345', datetime.datetime(1992, 6, 2, 0, 0))

In [14]:
sql = "INSERT INTO Students (student_name, student_gender, student_email, student_password, student_dob, student_isTa, student_age) VALUES (%s, %s, %s, %s, %s, %s, %s)"
val = ("Sanjay", "Male", "iet.sanjay@gmail.com", "123456", "1995-10-23","1", "34")
mycursor.execute(sql, val)

In [15]:
query = 'update students set student_name = "Swati Reddy" where student_id = 100;'
mycursor.execute(query)

In [16]:
conn.commit()

In [17]:
mycursor.execute('Select * from students;')
for row in mycursor:
    print(row)

(100, 'Swati Reddy', 'Female', 'sbendram@aum.edu', '123456', None, 1, 21)
(101, 'Shiva Reddy', 'Male', 'shiva@aum.edu', '12345', None, 0, 23)
(102, 'Sri Ram', 'Male', 'sri@aum.edu', '12345', None, 1, 24)
(103, 'Rekha Reddy', 'Female', 'rekha@aum.edu', '12345', None, 0, 23)
(104, 'Saiteja Reddy', 'Male', 'saiteja@aum.edu', '12345', None, 1, 25)
(105, 'Srinu Karra', 'Male', 'karra@aum.edu', '12345', datetime.datetime(2010, 9, 21, 0, 0), 0, 23)
(106, 'Jennifer Thomas', 'Female', 'jenne@aum.edu', '12345', datetime.datetime(2009, 10, 23, 0, 0), 1, 25)
(107, 'Lisa David', 'Female', 'lisa@aum.edu', '12345', datetime.datetime(2006, 2, 2, 0, 0), 1, 26)
(108, 'John William', 'Male', 'john@aum.edu', '12345', datetime.datetime(2007, 10, 23, 0, 0), 0, 23)
(109, 'Sanjay', 'Male', 'iet.sanjay@gmail.com', '123456', datetime.datetime(1995, 10, 23, 0, 0), 1, 34)

In [22]:
conn.rollback()

In [18]:
conn.close()